# IntelliJ project files
.idea
*.iml
out
gen

# Test config files
*test.properties
*test.yaml
*test.conf
*test.json
*test.go
*pro.yaml

# goreleaser config
.goreleaser.yml
frpc.ini
.goreleaser.yaml
go.sum

dist

*.png

